<div id="inventory">
    <div *ngIf="!player.inventory || player.inventory.length === 0">
        Empty!
    </div>

    <div *ngFor="let item of player.inventory" class="item-box" (click)="select(item)">
        <div class="text-center">{{item.name}}</div>
        <img class="center-block item-image" [src]="'../../../assets/images/' + item.src">
    </div>

    <div id="item-preview" *ngIf="selectedItem">
        {{selectedItem.description}}
        <button *ngIf="selectedItem.itemType === ItemType.Consumable" (click)="consume()">
            Consume
        </button>
        <button *ngIf="selectedItem.itemType === ItemType.Garment" (click)="equip()">
            Equip
        </button>
    </div>
</div>