<div>
    &nbsp;
</div>
<div id="magi-imperium-container">
    <h1 class="header-text flashing text-center">{{headerText}}</h1>
    <h3  *ngIf="stage === 'char-select'" class="header-text flashing text-center">{{subHeaderText}}</h3>

    <!-- Select Character -->
    <div id="character-select" *ngIf="stage === 'char-select'">
        <h5 class="header-text">Welcome, brave magi. Choose your path of attainment:</h5>
        <div class="center-block">
            <div *ngFor="let class of classes" class="character-select-box magical text-center" (click)="select(class)"
            [class.flashing]="selectedCharacter && selectedCharacter.name === class.name">
                <img [src]="class.faceSrc" class="face-img" alt="?">
                <span class="character-select-text">{{class.name}}</span>
            </div>
        </div>

        <div id="character-preview" class="magical" *ngIf="selectedCharacter">
            <img class="center-block" [src]="selectedCharacter.src" alt="?"
            [class.flash]="isSelected"
            (load)="onImageLoad(selectedCharacter.name)">
            <div *ngIf="selectedCharacter.name === selectedName">
                <div class="text-center">
                    {{selectedCharacter.description}}
                </div>
                <div class="text-center" [style.color]="'green'" *ngFor="let perk of selectedCharacter.perks">
                    {{perk}}
                </div>
            </div>
            
            <button class="magical btn center-block"
            (click)="selectCharacter()"
            [class.btn-default]="isSelected"
            [class.btn-primary]="!isSelected">Select</button>
        </div>
    </div>

    <!-- Enter Character Info -->
    <div id="character-info-form" *ngIf="stage === 'char-info'">
        <!-- Enter Name -->
        <div class="magical" *ngIf="!player.name">
            <h5>What is your name, brave magi?</h5>
            <input [(ngModel)]="playerName" spellcheck="false" autocomplete="off">
            <button (click)="enterName()">Enter</button>
        </div>
        <div class="inline-block">
            <player-info [player]="player"></player-info>
        </div>
        <div class="inline-block">
            <story *ngIf="player.name && !introFinished" [dialogue]="dialogue" (finished)="finishIntro()"></story>
        </div>

        <!-- Testing Shopkeeper Component... -->
        <shopkeeper *ngIf="player.name && introFinished" [shopkeeper]="forestMan" [player]="player"></shopkeeper>
    </div>
</div>