<div id="player-info-box" class="magical">
    <div class="text-center" [style.text-decoration]="'underline'">{{player.name}}</div>
    <div class="text-center">{{player.magiType}}</div>
    <img [src]="player.faceSrc">
    <div class="red">
        <img class="icon" src="../../../assets/images/icon-hp.png">
        HP: {{player.hp}}/{{player.maxHp}}
    </div>
    <div class="blue">
        <img class="icon" src="../../../assets/images/icon-mp.png">
        MP: {{player.mp}}/{{player.maxMp}}
    </div>
    <div class="text-center">Intelligence: {{calculateIntelligence()}}</div>
    <div class="text-center">Spirit: {{calculateSpirit()}}</div>
    <div class="gold">
        <img class="icon" src="../../../assets/images/icon-gold.gif">
        {{player.gold}}
        <img id="inventory-icon" src="../../../assets/images/icon-inventory.png" (click)="toggleInventory()">
    </div>
    <inventory [player]="player" *ngIf="inventoryShowing"></inventory>
</div>