#shop {
    width: 400px;
}

#shopkeeper-image{
    height: 150px;
    width: 150px;
}

#shopkeeper-name{
    text-decoration: underline;
}

.shop-item-image {
    height: 80px;
    width: 80px;
}

.shop-item-box{
    width: 130px;
    height: 150px;
    display: inline-block;
    border: 1px solid grey;
    margin: 5px;
    padding: 5px;
}

.shop-item-box:hover{
    opacity: 0.7;
}

.selected{
    border: 2px solid red;
}

