<div class="container-fluid">
  <!-- <jacks-kingdom></jacks-kingdom>
  <joels-kingdom></joels-kingdom> -->
  <h1>Fluff and Nutter</h1>
  <a href="../jacks">
    <img alt='jacks kingdom'  src='https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/castle-in-the-sky-george-grie.jpg'>
  </a>
  <a href="../battleground">
    <img alt='battleground'  src='http://wallperio.com/data/out/575/wizards-wallpapers_630273836.jpg'>
  </a>
  <a href="../joels">
    <img alt='joels kingdom'  src='https://www.wallpaperup.com/uploads/wallpapers/2015/05/12/685467/3632e44a7f1b7b0ce6aea77d5613dfbc-700.jpg'>    
  </a>
</div>
<router-outlet></router-outlet> 