<img id="background" src="../../assets/images/alice-in-wonderland.png" alt="?">
<div id="div2" class="row">
    <h2 class="text-center">
        WELCOME TO MY KINGDOM
    </h2>
    <h2 class="text-center">
        THIS IS A PLACE OF LEARNING
    </h2>
    <h2 class="text-center">
        SOON ALL SHALL BE REVEALED
    </h2>
    <br><br><br>
    <div>
        <img id="game-zone-banner" src="../../assets/images/banner.jpg" alt="?">
        <h3 id="game-zone-text" class="text-center">The Game Zone</h3>
        <h4 class="text-center">Select a Game!</h4>
    </div>
    <ul>
        <div class="game-selection text-center" (click)="selectGame('monkey-life')">
            Monkey Life
        </div>
        <div class="game-selection text-center" (click)="selectGame('magi-imperium')">
            Magi Imperium
        </div>
    </ul>
    <div id="game-player" class="div-center">
        
        <h1 class="header-text flashing text-center" *ngIf="!selectedGame">Insert coin to continue</h1>
        <monkey-life *ngIf="selectedGame==='monkey-life'"></monkey-life>
        <magi-imperium *ngIf="selectedGame==='magi-imperium'"></magi-imperium>
    </div>
</div>

<audio #audioPlayer controls loop>
    <source src="../../assets/audio/hit-or-miss.mp3" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>