/* The animation code */
@keyframes slow-zoom {
    from {
        width: 100%;
        height: 100%
    }
    to {
        width: 140%;
        height: 140%
    }
}

#goldilocks {
    width: 100%;
}
  
/* The element to apply the animation to */
#goldilocks:hover {
    animation-name: slow-zoom;
    animation-duration: 7s;
    cursor: zoom-in;  
}

#img-container{
    width: 500px;
}

#game-player{
    background-color: black;
    height: 800px;
    width: 800px;
}

#game-zone-banner{
    width: 100%;
    height: 40px;
    opacity: 0.5;
}

#game-zone-text{
    position: relative;
    bottom: 100px;
    animation-name: change-colors;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    font-weight: bold;
}

@keyframes change-colors {
    0% {
        color: forestgreen;
    }
    20% {
        color: black;
    }
    40%{
        color: purple;
    }
    60%{
        color:red;
    }
    80%{
        color:darkblue;
    }
    100%{
        color: forestgreen;
    }
}

.game-selection{
    width: 200px;
    width: 150px;
    display: inline-block;
    border: 2px solid greenyellow;
    background-color: black;
}
.game-selection:hover{
    background-color: forestgreen;
}

.div-center {
    margin: 0 auto;
}

#background{
    position: absolute;
    top: 470px;
    left: 0;
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;
    width: -webkit-fill-available;
}

#div2{
    position: relative;
    z-index: 33;
}

.header-text{
    color: red;
    font-family: retro;
}